<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tribe_StreamReady.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tribe_StreamReady.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />     
    </startup>
    <applicationSettings>
        <Tribe_StreamReady.Properties.Settings>
            <setting name="ffmpeg" serializeAs="String">
                <value>https://ffmpeg.zeranoe.com/builds/win32/static/ffmpeg-4.1.1-win32-static.zip</value>
            </setting>
        </Tribe_StreamReady.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Tribe_StreamReady.Properties.Settings>
            <setting name="youtubedl" serializeAs="String">
                <value>https://youtube-dl.org/downloads/latest/youtube-dl.exe</value>
            </setting>
        </Tribe_StreamReady.Properties.Settings>
    </userSettings>
</configuration>